.message-input-section {
  height: 5vh;
  // width: 100%;
  // padding: 1rem;
  background-color: #f4f4fc;
  // margin-top: auto;
  // border: 1px solid red;
  // display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #dedede;

  .send-form {
    display: flex;
    justify-content: space-around;
    // margin-top: 0.3rem;
    // margin-bottom: auto;
  }

  .message-input {
    width: 90%;
    // height: 2rem;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #dedede;
    // margin-right: 4rem;
    padding: 0.5rem;

    &:focus {
      outline: none;
      border: 1px solid darkgray;
    }
  }

  .send-icon {
    height: 18px;
    width: 18px;
  }

  .send-btn {
    background-color: white;
    border: 1px solid #dedede;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
    border-radius: 10px;
  }
}
